footer {
    background: #000;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .footer_nav_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        nav {
            ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                a {
                    color: #fff;
                    text-decoration: none;
                    font-family: Alata, sans-serif;
                }
            }
        }
    }

    .socials_copyright_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .75rem;

        ul {
            list-style-type: none;
            display: flex;
            gap: 1rem;
        }

        p {
            color: $dark-gray;
            font-family: Alata, sans-serif;
        }
    }
}

@media screen and (min-width: 1024px) {
    footer {
        padding: 3rem 12rem;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;

        .footer_nav_wrapper {
            align-items: flex-start;
            justify-content: space-between;

            nav {
                ul {
                    flex-direction: row;
                    gap: 1rem;
                }
            }
        }

        .hover_animation {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 2.25rem;

            &:hover {
                .white_border {
                    width: 60%;
                    transition: 0.3s ease;
                }
            }

            .white_border {
                width: 0;
                height: .15rem;
                background: #fff;
            }
        }
        
        .socials_copyright_wrapper {
            align-items: flex-end;
            gap: 0;
            justify-content: space-between;

            ul {
                gap: 1rem;
            }
        }
    }
}