main {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    h1 {
        font-size: 2rem;
        line-height: 1.25;
        color: #fff;
        padding: 1.5rem;
        font-family: Josefin Sans, sans-serif;
        border: .25rem solid #fff;
        max-width: 22.5rem;
        font-weight: 200;
    }
}

@media screen and (min-width: 1024px) {
    main {
        padding: 0 12rem;

        h1 {
            font-size: 4rem;
            max-width: 45rem;
        }
    }
}