@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 15px;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1023px) {
  .header_main_background {
    height: 100vh;
    background: url("../images/mobile/image-hero.jpg");
    background-size: 100% 100%;
    position: relative;
    z-index: 0;
  }
  header {
    padding: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
  }
  header .logo {
    z-index: 98;
  }
  header .hamburger {
    border: none;
    background: none;
    z-index: 99;
    position: fixed;
    right: 0;
    padding: 1.5rem;
  }
  header nav .nav-ul {
    list-style-type: none;
    z-index: 97;
    position: fixed;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    -webkit-backdrop-filter: blur(0.5rem);
            backdrop-filter: blur(0.5rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 999%;
    right: 0;
    top: 0;
  }
  header nav .nav-ul .links_animation {
    padding: 1.5rem;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
    left: 999%;
  }
  header nav .nav-ul a {
    text-decoration: none;
    color: #fff;
    font-family: Josefin Sans, sans-serif;
    font-size: 1.25rem;
  }
  header nav .nav-ul.show {
    left: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  header nav .nav-ul.show .links_animation {
    left: 0;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
}

@media screen and (min-width: 1024px) {
  .header_main_background {
    height: 100vh;
    background: url("../images/desktop/image-hero.jpg");
    background-size: 100% 100%;
    position: relative;
    z-index: 0;
  }
  header {
    padding: 3rem 12rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .hamburger {
    display: none;
  }
  header .nav-ul {
    list-style-type: none;
  }
  header .nav-ul .links_animation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
  header .nav-ul a {
    color: #fff;
    text-decoration: none;
    font-family: Alata, sans-serif;
  }
  header .nav-ul a:hover {
    text-decoration: underline;
  }
}

main {
  height: 100%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h1 {
  font-size: 2rem;
  line-height: 1.25;
  color: #fff;
  padding: 1.5rem;
  font-family: Josefin Sans, sans-serif;
  border: .25rem solid #fff;
  max-width: 22.5rem;
  font-weight: 200;
}

@media screen and (min-width: 1024px) {
  main {
    padding: 0 12rem;
  }
  main h1 {
    font-size: 4rem;
    max-width: 45rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media screen and (min-width: 1440px) {
  main h1 {
    font-size: 5rem;
  }
}
/*# sourceMappingURL=style.css.map */